* {
	padding:0;
margin:0;
box-sizing:border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size:15px;
	
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 

}
.container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.post{
	margin: 4rem;
}
.like{
	color: #000;
	text-decoration: none;
	fill:red;
  }
a i{
	cursor: pointer;
}
  .active{
	color:red;
  }
  .insta-post {
    margin: 3rem;
}